h1{
    background-color:rgb(19, 27, 27);
    color: white;
    padding: 20px;
    text-align: center;
}
h2{
    margin-left: 50px;
}
a{
    color: red;
}
#b{
    margin: 70px 15px;
}
img{
    margin-left: 50px;
}
li{
    font-weight: bold;
}
#u{
    font-weight: normal;
}