h1{
    color: darkmagenta;
    text-align: center;
}
#a{
    color:crimson;
}
#b{
    color: burlywood;
}
#x{
    color: green;
}
#c{
    color: burlywood;
}
#d{
    color: red;
}
#e{
    background-color: yellow;
}
#f{
    color: burlywood;
}
