#x{
    border: 10px solid green;
    margin-right: 1100px;
    padding-bottom: 110px;
}
#a{
    margin: 0px;
}
#y{
    border: 10px solid yellow;
    margin-right: 1050px;
    padding-bottom: 140px;
}
#b{
    margin-left: 15px;
}