*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    font-size: 30px;
    border: 3px solid red;
    width: 40%;
    margin-top: 50px;
    margin-left: 100px;
}
p{
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
    margin: 30px 30px;
}
#x{
    background-color: cyan;
    position: absolute;
    margin-left: -40px;
}
#xx{
    background-color:mediumblue;
    margin-top: 210px;
}
#xxx{
    background-color: brown;
}
#xxxx{
    background-color: darkgray;
}
